.cell{
    width: 75px;
    height: 75px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
}

#gameContainer{
    /*background-color: rgb(172, 172, 172);
    border-radius: 20px;*/
    font-family: "Arial", cursive;
    text-align: center;
}

#cellContainer{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: auto;
}

#restartBtn{
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: black;
    background-color: rgb(175, 235, 255);
    border: none;
    border-radius: 10px;
    padding: 15px 30px;
    cursor: pointer;
    display: inline-block;
}

#restartBtn:hover{
    background-color: rgb(200, 240, 255);
}

#restartBtn:active{
    background-color: rgb(220, 245, 255);
}